body {
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    max-width: 100%;
}
header {
    height: 72px;
    max-width: 100%;
    background: white;
    box-shadow: 0 0 16px rgba(38, 38, 38, 0.16);
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    align-items: center;
}
.header-line{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 30px 80px 24px 97px;
    padding: 17px 0 15px;
    width: 956px;
    background-color: rgba(255, 255, 255, 0.95);
}
.header__logo {
    width: 121px;
    height: 13px;
}
.header__input::placeholder {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 24px;
    color: #262626;
}
.header__urgency {
    width: 65px;
    padding: 8px 11px;
    background-color: transparent;
    border-color: #dadada;
    border-style: solid;
    max-width: 40px;
}
.header__address {
    width: 292px;
    padding: 8px 72px 8px 36px;
    background-color: transparent;
    border-color: #dadada;
    border-style: solid;
    border-radius: 2px;
    max-width: 292px;
}
.btn_register{
    background-color: #262626;
    border-color: #262626;
    border-radius: 2px;
    color: white;
    padding: 8px 15px;
    margin-left: 16px;
    text-decoration: none;
    font-size: 0.875em;
}

.btn_sign-in{
    color:#262626;
    text-decoration: none;
    padding: 8px 15.5px;
    border: 1px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    font-size: 0.875em;
}

.searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 40px;
    padding-bottom: 17px;
    margin-left: 82px;
    margin-right: 100px;
    border-bottom: 1px solid lightgray;
    gap: 8px;
}

.searchbar input {
    border: none;
    width: 90%;
}

.searchbar img {
    height: 22px;
    width: 22px;
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 85px;
    margin-right: 85px;
}
.main__title{
    margin-left: 85px;
    text-align:left;
    font-family: 'Roboto';
    font-size: 22px;
    line-height: 24px;
    color: #262626;
}

.main__restaurants {
    margin: 8px 0 92px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.main__restaurant_card {
    width: 32%;
    padding: 8px 4px 8px 4px;
}
.card__restaurant {
    font-family: 'Roboto';
    font-size: 16px;
    color: #262626;
    margin-top: 16px;
    text-decoration: none;
  }
  
  .card__category {
    font-family: 'Roboto';
    font-size: 14px;
    color: #626262;
    line-height: 21px;
    margin: 4px 0;
    text-decoration: none;
  }
  
  .card__time {
    font-family: 'Roboto';
    font-size: 13px;
    color: #262626;
    line-height: 21px;
    text-decoration: none;
  }
  
  .footer {
    background-color: #262626;
    color: #fff;
  }
  .container{
    max-width: 100%;
  }
  .footer__logo {
    height: 116px;
    display: flex;
    align-items: center;
    margin: 0 5% 32px ;
    border-bottom: 1px solid rgb(255, 255, 255, 0.4);
  }
  
  .footer__logo a {
    margin-left: 8%;
    width: 191px;
    height: 20px;
  }
  
  .footer__info {
    margin-left: 8%;

    width: 70%;
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .footer__info-contacts-dropdown {
    width: 227px;
    height: 40px;
    margin-bottom: 32px;
    padding-right: 8px;
    padding-left: 16px;
    display: flex;
    align-items: center;
    background-color: #3b3b3b;
    border-radius: 2px;
  }
  
  .footer__info-contacts-dropdown:hover {
    box-shadow: 0 0 3px #fff;
  }
  
  .footer__info-contacts-dropdown select {
    width: 100%;
    height: 40px;
    margin-left: 17px;
    background: url("../icons/arrow-back-icon.svg") no-repeat right #3b3b3b;
    outline: none;
    appearance: none;
    border: none;
    color: #fff;
    cursor: pointer;
  }
  
  .footer__info-contacts-hashtag {
    margin-bottom: 20px;
  }
  
  .footer__info-contacts-hashtag_green {
    margin: 0;
    font-size: 16px;
    color: #49a144;
  }
  
  .footer__info-contacts-hashtag_white {
    color: #fff;
  }
  
  .footer__info-social-links {
    width: 100px;
    display: flex;
    justify-content: space-between;
  }
  .footer__info-block-group{
    padding-left: 30px;
  }
  
  .footer__info-block-group li+li {
    margin-top: 23px;
    
  }
  
  .footer__info-block-group a {
    text-decoration: none;
    color: #fff;
  }
  
  .footer__info-block-group a:hover {
    color: #82c281;
  }
  li {
    list-style-type: none; /* Убираем маркеры */
   }
   ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
   }
  
  .footer__applications {
    max-width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    column-gap: 4.3%;
    border-top: 1px solid rgba(238, 238, 238, 0.4);
    border-bottom: 1px solid rgb(255, 255, 255, 0.4);
    margin: 0 5% 0;
  }
  
  .footer__copyright {
    max-width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    /* white-space: nowrap; */
    font-size: 11px;
  }
  
  .footer__copyright a {
    text-decoration: none;
    color: #fff;
  }
  
  .footer__copyright a:hover {
    color: #82c281;
  }
  
  .button-arrow-up {
    position: fixed;
    right: 16px;
    bottom: 24px;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #59bd5a;
    border-radius: 2px;
  }
  hr {
    border-top: 1px #ccc;
    margin: 10px; 
    
  }

.footer__copyright{
    margin-left: 8%;
    justify-content: space-between;
}

.scrollToTop {
  color: #fff;
  position: fixed;
  bottom: 5px;
  right: 5px;
  width: 50px;
  height: 50px;
  text-align: center;
  cursor: pointer;
  background-color: #262626;
  z-index: 1005;
}

@media (max-width: 900px) {
    .mobile__search {
        display: none;
    }
    }
  @media (max-width: 1300px) {
    .mobile__search {
        display: none;
    }
    }